.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

.file-upload {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.upload-section {
    width: 45%;
    position: relative;
}

.upload-label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.file-input {
    display: block;
    margin-bottom: 10px;
}

.styled-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.results {
    width: 100%;
    margin-top: 20px;
}

.structure-container {
    display: flex;
    justify-content: space-between;
}

.structure {
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.structure h3 {
    margin-top: 0;
}

ul.directory-list, ul.nested {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}

ul.nested {
    display: none;
}

li.directory {
    cursor: pointer;
}

li.file {
    margin-left: 20px;
}